
<div ng-controller="test-controller">

    <div class="index animated fadeInDown slow">
        <h3>Nacionales</h3>
        <hr />
        <div class="form-group">
            <div class="row">
                <div class="col-lg-1 align-content-md-end">
                    <ion-icon name="search" size="large"></ion-icon>
                </div>
                <div class="col-lg-4">
                    <input type="search" class="form-control width-box " placeholder="Buscar..." ng-model="search" />
                </div>

                <div class="col-lg-6">
                    @*<center>
                        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#layoutModal" ng-click="loadLayout(1)">Planta 1</button>
                            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#layoutModal" ng-click="loadLayout(2)">Planta 2</button>
                            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#layoutModal" ng-click="loadLayout(3)">Planta 3</button>
                            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#layoutModal" ng-click="loadLayout(4)">Planta 4</button>
                            <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#layoutModal" ng-click="loadLayout(5)">Planta 5</button>
                        </div>
                    </center>*@
                </div>

                <div class="col-lg-1">
                    <button type="button" class="btn btn-azul" data-toggle="modal" data-target="#exampleModal" ng-click="clean()">
                        <ion-icon name="add"></ion-icon> Nuevo
                    </button>
                </div>

            </div>
        </div>

        <div class="table-responsive overflow-auto" style="height: 500px;">
            <table class="table table-sm table-striped table-hover">
                <thead>
                    <tr>
                        <th class="info-header"># Factura</th>
                        <th class="info-header">Fecha Act.</th>
                        <th class="info-header">Orden de Compra</th>
                        <th class="info-header">Division</th>
                        <th class="info-header"># Serie</th>
                        <th class="info-header">Costo Actual</th>
                        <th class="info-header">Localización</th>
                        <th class="info-header"># Activo</th>
                        <th class="info-header">Etiqueta</th>
                        <th class="info-header">Capex #</th>
                        <th class="info-header">Nombre</th>
                        <th class="info-header">Desc.</th>
                        <th class="info-header">Comentarios</th>
                        <th class="info-header"></th>
                        <th class="info-header"></th>
                        <th class="info-header"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in examples | filter : search">
                        <td class="info-table">
                            <span class="info-span">
                                <ion-icon name="logo-buffer"></ion-icon> {{item.Factura}}
                            </span>
                        </td>
                        <td class="info-table">{{item.ActivationDate}}</td>
                        <td class="info-table">{{item.OrdenCompra}}</td>
                        <td class="info-table">{{item.Division}}</td>
                        <td class="info-table">{{item.SerialNumber}}</td>
                        <td class="info-table">{{item.CostoActual}}</td>
                        <td class="info-table">{{item.Location}}</td>
                        <td class="info-table">{{item.NoActivo}}</td>
                        <td class="info-table">{{item.Etiqueta}}</td>
                        <td class="info-table">{{item.Capex}}</td>
                        <td class="info-table">{{item.Name}}</td>
                        <td class="info-table">{{item.Description}}</td>
                        <td class="info-table">{{item.Comment}}</td>
                        <td>
                            <button type="button" class="btn btn-azul" data-toggle="modal" data-placement="top" data-target="#caratulaModal" title="Ver" ng-click="assetInfo(item.NoActivo)">
                                <ion-icon name="eye"></ion-icon>
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-verde" data-placement="top" title="Editar" data-toggle="modal" data-target="#exampleModal" ng-click="select(item.NoActivo)">
                                <ion-icon name="create"></ion-icon>
                            </button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-rojo" data-toggle="tooltip" data-placement="top" title="Eliminar" ng-click="delete(item.NoActivo)">
                                <ion-icon name="trash"></ion-icon>
                            </button>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-12 text-center">
            <ul class="pagination pagination-lg pager" id="myPager"></ul>
        </div>
        <!-- Modal -->


        <div class="btn-group">
            <button class="btn btn-naranja" data-toggle="modal" data-target="#fileModal"><ion-icon name="cloud-upload">   </ion-icon> Upload   </button>
            <button class="btn btn-verde" ng-click="downloadNationalsData()"><ion-icon name="cloud-download"></ion-icon> Download</button>
        </div>

    </div>

    @* New/Update asset modal *@
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" autofocus>
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLabel" ng-model="modal_title">+Nuevo Activo</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <center class="modal-body">
                    <div class="row">
                        <center>
                            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                                <div class="dropdown">
                                    <button type="button" class="btn btn-info dropdown-toggle" id="p1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Planta 1
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="p1">
                                        <button class="dropdown-item" onclick="loadLayout(1)">Plano A</button>
                                        <button class="dropdown-item" onclick="loadLayout(12)">Plano B</button>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-info" onclick="loadLayout(2)">Planta 2</button>
                                <div class="dropdown">
                                    <button type="button" class="btn btn-info dropdown-toggle" id="p3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Planta 3
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="p3">
                                        <button class="dropdown-item" onclick="loadLayout(3)">Plano A</button>
                                        <button class="dropdown-item" onclick="loadLayout(31)">Plano B</button>
                                    </div>
                                </div>
                                <div class="dropdown">
                                    <button type="button" class="btn btn-info dropdown-toggle" id="p3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Planta 3
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="p3">
                                        <button class="dropdown-item" onclick="loadLayout(3)">Plano A</button>
                                        <button class="dropdown-item" onclick="loadLayout(31)">Plano B</button>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-info" onclick="loadLayout(4)">Planta 5</button>
                                <div class="dropdown">
                                    <button type="button" class="btn btn-info dropdown-toggle" id="p5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Planta 5
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="p5">
                                        <button class="dropdown-item" onclick="loadLayout(5)">Plano A</button>
                                        <button class="dropdown-item" onclick="loadLayout(51)">Plano B</button>
                                    </div>
                                </div>
                            </div>
                        </center>
                    </div>
                    <div class="container-fluid">
                        <form id="newAssetForm" name="nuevoForm" novalidate>

                            <div class="form-card">

                                <canvas id="layoutCanvas" onclick="imageClicked()"></canvas>


                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group" ng-class="{ 'has-error' : nuevoForm.no_asset.$invalid && !nuevoForm.no_asset.$pristine }">
                                            <label>No Asset</label>
                                            <input type="text" class="form-control width-box" name="no_asset" ng-model="no_asset" required />
                                            <p ng-show="nuevoForm.no_asset.$invalid && !nuevoForm.no_asset.$pristine" class="text-danger">Campo Obligatorio.</p>
                                        </div>

                                        <div class="form-group">
                                            <label>Year Date Depr. Linear</label>
                                            <input type="text" class="form-control width-box" name="division" ng-model="year_linear" />
                                        </div>

                                        <div class="form-group">
                                            <label>Division</label>
                                            <input type="text" class="form-control width-box" name="division" ng-model="division" />
                                        </div>

                                        <div class="form-group">
                                            <label>Text Line 1</label>
                                            <input type="text" class="form-control width-box" name="textline1" ng-model="textline1" />
                                        </div>

                                        <div class="form-group">
                                            <label>Accounting Dimension 6</label>
                                            <input class="form-control width-box" name="dimension6" ng-model="dimension6" />
                                        </div>

                                        <div class="form-group">
                                            <label>Accounting Dimension 2</label>
                                            <input class="form-control width-box" name="dimension4" ng-model="dimension2" />
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Location</label>
                                            <input id="location2" type="text" class="form-control width-box" name="location" ng-model="location" />
                                        </div>

                                        <div class="form-group">
                                            <label>Status</label>
                                            <input type="text" class="form-control width-box" name="status" ng-model="status" />
                                        </div>

                                        <div class="form-group">
                                            <label>Name</label>
                                            <input type="text" class="form-control width-box" name="name" ng-model="name" />
                                        </div>

                                        <div class="form-group">
                                            <label>Lifetime(months)</label>
                                            <input type="text" class="form-control width-box" name="lifetime" ng-model="lifetime" />
                                        </div>

                                        <div class="form-group">
                                            <label>PhysicalInventory</label>
                                            <input type="text" class="form-control width-box" name="price" ng-model="inventory" />
                                        </div>

                                        <div class="form-group">
                                            <label>Acq. Cost</label>
                                            <input type="text" class="form-control width-box" name="cost" ng-model="cost" />
                                        </div>
                                    </div>

                                    <div class="col-md-4">

                                        <div class="form-group">
                                            <label>Forecast Linear</label>
                                            <input type="text" class="form-control width-box" name="linear" ng-model="forecast_linear" />
                                        </div>

                                        <div class="form-group">
                                            <label>Acom. Depr. Linear</label>
                                            <input type="text" class="form-control width-box" name="derogatory" ng-model="acomulated_linear" />
                                        </div>

                                        <div class="form-group">
                                            <label>Acq. Date</label>
                                            <input type="text" class="form-control width-box" name="finalStatus" ng-model="date" />
                                        </div>
                                        <div class="form-group">
                                            <label>Activation Date</label>
                                            <input type="text" class="form-control width-box" name="activationDate" ng-model="activation_date" />
                                        </div>
                                        <div class="form-group">
                                            <label>Serial</label>
                                            <input type="text" class="form-control width-box" name="finalStatus" ng-model="serial" />
                                        </div>

                                        <div class="form-group">
                                            <label>Comment</label>
                                            <textarea type="text" class="form-control width-box" name="comment" ng-model="comment" />
                                        </div>

                                    </div>

                                </div>
                                <script>
                                    var img = new Image();
                                    img.src = "../Public/Layouts/Plant51.png";
                                    var canvas = document.getElementById("layoutCanvas");

                                    canvas.width = img.width;
                                    canvas.height = img.height;

                                    var ctx = canvas.getContext('2d');
                                    ctx.drawImage(img, 0, 0, canvas.width, canvas.height);

                                    var plant = 51;
                                    var loadLayout = (p) => {
                                        img.src = "../Public/Layouts/Plant" + p + ".png";
                                        ctx.drawImage(img, 0, 0, canvas.width, canvas.height);
                                        plant = p;
                                    };

                                    var imageClicked = () => {
                                        ctx.drawImage(img, 0, 0, canvas.width, canvas.height);
                                        let x = event.offsetX;
                                        let y = event.offsetY;
                                        console.log(x + ", " + y);
                                        document.getElementById('location2').value = plant + "-" + x + "-" + y;

                                        ctx.fillStyle = "red";
                                        ctx.beginPath();
                                        ctx.arc(x, y, 5, 0, 2 * Math.PI);
                                        ctx.fill();
                                    };
                                </script>
                            </div>

                        </form>

                        <div class="divAdjunto">
                            <form id="assetImage">
                                <div class="form-group">
                                    <input id="asset_image" class="custom-file-input" type="file" name="asset_image" />
                                    <label id="asset_label" for="asset_image" class="custom-file-label">Seleccionar Imagen</label>
                                </div>
                            </form>
                        </div>

                    </div>




                    <center>
                        <div class="btn-group">
                            <button type="button" class="btn btn-rojo" data-dismiss="modal" ng-click="clean()"><ion-icon name="ios-return-left"></ion-icon> Cerrar</button>
                            <button type="button" class="btn btn-azul" data-dismiss="modal" ng-click="addorupdate()" ng-disabled="nuevoForm.$invalid"><ion-icon name="md-checkmark"></ion-icon> Guardar</button>
                        </div>
                    </center>

</div>
        </div>
        @*<div class="modal-footer">
                <div class="row">
                    <div class="col-md-8"></div>
                    <div class="col-md-4">
                        <div class="btn-group">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="clean()"><ion-icon name="ios-return-left"></ion-icon> Cerrar</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="addorupdate()" ng-disabled="nuevoForm.$invalid"><ion-icon name="md-checkmark"></ion-icon> Guardar</button>
                        </div>
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </div>*@
    </div>
    @* Caratula Modal *@
    <div class="modal fade" id="caratulaModal" tabindex="-1" role="dialog" aria-labelledby="caratulaModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="caratulaModalLabel">Información de Activo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <canvas id="caratulaCanvas"></canvas>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="text-center card-header" scope="col">No Factura</th>
                                <th class="text-center card-header" scope="col">Fecha de Activación</th>
                                <th class="text-center card-header" scope="col">Orden de Compra</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th class="text-center"><a>{{ asset_info.NoActivo }}</a></th>
                                <th class="text-center">{{ asset_info.ActivationDate }}</th>
                                <th class="text-center"></th>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="text-center card-header" scope="col">División</th>
                                <th class="text-center card-header" scope="col">Nùmero de Serie</th>
                                <th class="text-center card-header" scope="col">Costo Actual</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th class="text-center">{{ asset_info.Division }}</th>
                                <th class="text-center">{{ asset_info.SerialNumber }}</th>
                                <th class="text-center"></th>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="text-center card-header" scope="col">Localización</th>
                                <th class="text-center card-header" scope="col">Número de Activo (Mex)</th>
                                <th class="text-center card-header" scope="col">Etiqueta</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th class="text-center">{{ asset_info.Location }}</th>
                                <th class="text-center">{{ asset_info.NoActivo }}</th>
                                <th class="text-center"></th>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="text-center card-header" scope="col">CAPEX #</th>
                                <th class="text-center card-header" scope="col">Nombre</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th class="text-center"></th>
                                <th class="text-center">{{ asset_info.Name }}</th>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-bordered" style="height: 150px;">
                        <thead>
                            <tr>
                                <th class="text-center card-header" scope="col">Descripción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th class="text-center"></th>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="text-center card-header" scope="col">Imagen</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th class="text-center"><img src="{{ asset_info.Image }}" height="450" /></th>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-bordered" style="height: 150px;">
                        <thead>
                            <tr>
                                <th class="text-center card-header" scope="col">Comentarios</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th class="text-center">{{ asset_info.Comment }}</th>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-md-3">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <td class="text-center card-header">PO's</td>
                                    </tr>
                                </thead>
                                <thead>
                                    <tr ng-repeat="p in po">
                                        <th><a href="http://schi-web1zem/ZCUU_ZEM_Activos/Home/GetFile?name={{p.DocumentName}}&asset=Nacionales&type={{p.DocumentType}}" target="_blank">{{p.DocumentName}}</a></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="col-md-3">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <td class="text-center card-header">Facturas</td>
                                    </tr>
                                </thead>
                                <thead>
                                    <tr ng-repeat="f in facturas">
                                        <th><a href="../Home/GetFile?name={{f.DocumentName}}&asset=Nacionales&type=Facturas" target="_blank">{{f.DocumentName}}</a></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="col-md-3">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <td class="text-center card-header">Polizas</td>
                                    </tr>
                                </thead>
                                <thead>
                                    <tr ng-repeat="poli in polizas">
                                        <th><a href="/Home/GetFile?name={{poli.DocumentName}}&asset=Nacionales&type=Polizas" target="_blank">{{poli.DocumentName}}</a></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="col-md-3">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <td class="text-center card-header">Screenshoots M3</td>
                                    </tr>
                                </thead>
                                <thead>
                                    <tr ng-repeat="s in screen">
                                        <th><a href="../Home/GetFile?name={{s.DocumentName}}&asset=Nacionales&type=Screenshoots" target="_blank">{{s.DocumentName}}</a></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-rojo" data-dismiss="modal"><ion-icon name="ios-return-left"></ion-icon> Close</button>
                    @*<button type="button" class="btn btn-primary">Save changes</button>*@
                </div>
            </div>
        </div>
    </div>


    <!-- Layouts Modal -->
    <div class="modal fade" id="layoutModal" tabindex="-1" role="dialog" aria-labelledby="layoutModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="layoutModalLabel">Layout</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="layoutPlace"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-rojo" data-dismiss="modal">Close</button>
                    @*<button type="button" class="btn btn-primary">Save changes</button>*@
                </div>
            </div>
        </div>
    </div>

    @* Choose file modal *@
    <div class="modal fade" id="fileModal" tabindex="-1" role="dialog" aria-labelledby="fileModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="fileModalLabel">Archivo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="form_nationals">
                        <div class="divAdjunto">
                            <div class="form-group">
                                <input id="input_file" class="custom-file-input" type="file" id="national_data_file" name="national_data_file" />
                                <label id="label_file" for="national_data_file" class="custom-file-label">Select File</label>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    @*<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>*@
                    <button type="button" class="btn btn-verde" data-dismiss="modal" ng-click="uploadNationalData()"><ion-icon name="md-checkmark"></ion-icon> Aceptar</button>
                </div>
            </div>
        </div>
    </div>
</div>


