
/*////////////////////// NAVEGACION ////////////////////////*/

nav.navbar {
    background: #fff;
    width: 100%;
}

    nav.navbar a {
        font-family: 'Raleway', sans-serif;
        font-size: 18px;
        font-weight: 400;
        color: #505569;
        transition: all ease .5s;
    }

    nav.navbar span.navbar-brand {
        text-align: center !important;
        font-family: Oswald !important;
        font-size: 25px;
        font-weight: 500;
        letter-spacing: .5px;
        color: #505569;
    }

    nav.navbar img {
        line-height: 60px;
        vertical-align: middle;
        padding: 0px 90px 0 25px !important;
    }

div.dropdown-menu {
    border: 0;
}

a.dropdown-item:hover {
    background: rgba(0,151,215, 0.7);
    color: #fff;
    transition: all ease .2s;
}


nav.navbar i {
    margin-right: 5px;
}

nav.navbar .nav-item .nav-link:hover {
    color: #4c87c6;
}

/*/////////////////////// FOOTER /////////////////////////*/

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 40px;
    background-color: #2f2f2f;
    color: #fff;
}

p.user-info {
    font-family: 'Raleway';
    font-size: 17px;
    padding-right: 10px;
    padding-top: 3px;
    color: white;
    text-decoration: none;
    transition: ease all .6s;
}

    p.user-info:hover {
        color: #4c87c6;
        cursor: pointer;
    }

/*//////////////////       ETIQUETAS        /////////////////////*/
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

    a:hover {
        text-decoration: none;
    }

body {
    font-family: Raleway;
    font-size: 16px;
}

label {
    margin: 10px 0;
    letter-spacing: 1px;
}

h1, h4 {
    margin-bottom: 0.5rem;
    font-weight: 800;
    line-height: 1.2;
    font-family: Raleway;
}

h3 {
    text-align: center !important;
    font-family: Oswald !important;
    font-size: 25px;
    font-weight: 500;
}

h2 {
    margin-bottom: 0.5rem;
    margin-top: 0;
    font-weight: 800;
    line-height: 1.2;
    font-family: Raleway;
    font-size: 24px;
}
hr {
    border-top: 1px solid #4c87c6 !important;
    width: 60%;
    padding-bottom: 5px;
}

ion-icon {
    font-size: 17px;
}

/*//////////////////       GENERAL         /////////////////////*/

.bg-style {
    /*background-color: #f5f5f5;*/
    background-image: url('images/02.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.index {
    padding: 50px !important;
    width: 95%;
    margin: 4rem auto !important;
    background-color: #fff !important;
    -webkit-box-shadow: 1px 1px 14px 0px rgba(0,0,0,0.67);
    -moz-box-shadow: 1px 1px 14px 0px rgba(0,0,0,0.67);
    box-shadow: 1px 1px 14px 0px rgba(0,0,0,0.67);
    border-radius: 5px;
}
.overflow {
    overflow: hidden;
}
.form-card {
    background-color: rgba(224,224,224, .2);
    -webkit-box-shadow: 1px 1px 10px -1px rgba(0,0,0,0.17);
    -moz-box-shadow: 1px 1px 10px -1px rgba(0,0,0,0.17);
    box-shadow: 1px 1px 10px rgba(0,0,0,0.3);
    width: auto;
    min-width:300px;
    border-radius: 10px;
    margin: 10px auto;
    padding: 10px;
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 100px;
}

    #snackbar.show {
        visibility: visible;
        -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
        animation: fadein 0.5s, fadeout 0.5s 2.5s;
    }


/**** TABLAS *********/
.info-header {
    font-family: Oswald;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 17px;
    color: white;
    text-decoration: none;
    padding: 3px 10px;
    background: #4c87c6 -webkit-gradient(linear, left top, left bottom, from(#4c87c6), to(#376597)) repeat-x !important;
    background: #4c87c6 linear-gradient(180deg, #4c87c6, #376597 ) repeat-x !important;
    letter-spacing: 1px;
}

    .info-table {
        color: black;
        font-family: 'Raleway' !important;
        font-size: 15px;
    }

.info-span {
    cursor: pointer;
    color: #4c87c6;
} 

/*////////////////////         BOTONES        ////////////////////*/

.btn {
    display: block;
    font-family: Oswald;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 1rem;
    padding: 8px;
    transition: ease all .6s;
    border: 0;
    color: white;
    width: auto;
    margin: 15px auto;
    outline: 0;
    will-change: box-shadow;
}

    .btn:hover {
        box-shadow: 1px 3px 5px rgba(0, 0, 0, .7);
        color: white;
    }

    

.btn-azul {
    background: #4c87c6 -webkit-gradient(linear, left top, left bottom, from(#4c87c6), to(#376597)) repeat-x !important;
    background: #4c87c6 linear-gradient(180deg, #4c87c6, #376597 ) repeat-x !important;
}
.col-md-2 .btn.btn-azul:nth-child(1) {
    margin: 0 auto;
}
.btn-rojo {
    background: #ad0e00 -webkit-gradient(linear, left top, left bottom, from(#ff1e00), to(#ad0e00)) repeat-x !important;
    background: #ad0e00 linear-gradient(180deg, #ff1e00, #ad0e00 ) repeat-x !important;
}

.btn-verde {
    background: #2b8200 -webkit-gradient(linear, left top, left bottom, from(#a4c444), to(#2b8200)) repeat-x !important;
    background: #2b8200 linear-gradient(180deg, #a4c444, #2b8200 ) repeat-x !important;
}

.btn-naranja {
    background: -webkit-linear-gradient(top, rgba(252,102,28,1) 0%, rgba(209,70,0,1) 51%, rgba(196,65,0,1) 100%);
    background: linear-gradient(to bottom, rgba(252,102,28,1) 0%, rgba(209,70,0,1) 51%, rgba(196,65,0,1) 100%);
}

.btn-naranja:active {
    background: -webkit-linear-gradient(top, rgba(252,102,28,1) 0%, rgba(209,70,0,1) 51%, rgba(196,65,0,1) 100%);
    background: linear-gradient(to bottom, rgba(252,102,28,1) 0%, rgba(209,70,0,1) 51%, rgba(196,65,0,1) 100%);
}

.btn-amarillo {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f4ed22+0,d3c500+100 */
    background: #f4ed22; /* Old browsers */
    background: -moz-linear-gradient(top, #f4ed22 0%, #d3c500 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #f4ed22 0%,#d3c500 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #f4ed22 0%,#d3c500 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}


    .btn-amarillo:active {
        background: #f4ed22; /* Old browsers */
        background: -moz-linear-gradient(top, #f4ed22 0%, #d3c500 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #f4ed22 0%,#d3c500 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #f4ed22 0%,#d3c500 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }


.btn-close {
    color: #E20B0B;
    font-size: 35px;
    transition: ease all .6s;
    cursor: pointer;
    position: fixed;
}

    .btn-close:hover {
        transform: scale(1.2);
    }

.btn-group-vertical .btn{
    margin:0;
}

/***************** BTN ADJUNTAR*/
.divAdjunto{
    position:relative;
    width:100%;
    padding:15px;
}
/*//////////////////////////////////// SPINNER ///////////////////////////////////////////*/
@-webkit-keyframes spinner-border {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinner-border {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


.back-spinner {
    /*background: url(../Content/images/01.jpg) center;*/
    background-color: rgba(0,0,0,0.8);
    color: red;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;
}


.spinner-border {
    display: inline-block;
    vertical-align: text-bottom;
    border: 0.25em solid currentColor;
    border-right-color: transparent;
    margin: -75px 0 0 -75px;
    border: 16px solid #38b9f6;
    border-radius: 50%;
    border-top: 16px solid white;
    width: 90px;
    height: 90px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin .5s linear infinite;
    position: absolute !important;
    left: 52%;
    top: 50%;
    z-index: 2 !important;
    border: 0.50em solid #3293fb !important;
    border-right-color: white !important;
    /*border-left-color: #bbe300 !important;*/
    -webkit-box-shadow: 1px 1px 16px 1px rgba(255,255,255,1);
    -moz-box-shadow: 1px 1px 16px 1px rgba(255,255,255,1);
    box-shadow: 1px 1px 16px 1px rgba(255,255,255,.3);
}


.spinner-text {
    display: inline-block;
    position: absolute !important;
    left: 47.5%;
    top: 53%;
    z-index: 2 !important;
    color: rgba(255,255,255, 0.9);
    font-size: 22px;
    font-family: Raleway;
}

.hide {
    display: none;
}

/*////////////////     LOGIN     ///////////////////*/
.wrap-login {
    position: absolute;
    left: 2.5%;
    right: 2.5%;
    top: 20%;
    z-index: 0;
    margin-bottom: 50px;
}

.hero-login {
    background: url(../Content/images/01.jpg) center;
    background-size: cover;
    height: 95vh;
    filter: blur(9px);
    width: 120%;
    margin-left: -50px;
}

.content-login {
    position: relative;
    z-index: 1;
    margin: 60px auto 30px auto;
    padding: 40px 20px;
    font-size: .875rem;
    width: 900px;
    min-width: 500px;
    border-radius: 5px;
    background-color: rgba(255,255,255,.1);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

div.header-login {
    position: absolute;
    width: 360px;
    margin: -120px auto 0 auto;
    z-index: 3;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0 4px 10px 0px rgba(47,79,112,.6);
}

.lbl {
    font-family: Raleway;
    display: block;
    font-size: 1.5rem;
    font-weight: 400;
    color: white;
    letter-spacing: .1px;
    text-align: center;
    text-shadow: 1px 1px 1px #000;
}

.content-login .text-danger {
    font-family: Raleway;
    display: block;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: .1px;
    text-align: center;
}

.input-login {
    outline: 0;
    width: 100%;
    margin: 10px auto;
    border-radius: 5px;
    background: #fff;
    font-family: Raleway;
    padding: 5px;
    display: block;
}

div.content-login .btn-login {
    font-weight: 700;
    text-align: center;
    padding: 0.8rem 1rem;
    font-size: 0.900rem;
    border-radius: 3px;
    transition: ease all .6s;
    width: auto;
    background-color: rgba(0,0,0,.3);
    font-family: Raleway;
    border: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;
    text-decoration: none;
    display: block;
    margin: 10px auto;
}

.checkbox-login {
    font-family: Raleway;
    display: block;
    font-size: 1rem;
    font-weight: 400;
    color: white;
    letter-spacing: .1px;
    text-align: center;
    text-shadow: 1px 1px 1px #000;
}

.img-login {
    width: 100px;
    height: 100px;
    margin: 0 auto 20px auto;
}

    .img-login img {
        width: 100px;
        height: 100px;
        display: block;
    }